/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {

    --main-1:1rem;
    --main-2:2rem;
    --main-3:3rem;
    --main-50:50px;
    --main-75:75px;
    --main-100:100px;
    --main-150:150px;
    --main-200:200px;
    --main-250:250px;
    --main-300:300px;
    --main-350:350px;
    --main-400:400px;

}

html, body { height: 100%; }

body {
  margin: 0%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.light-orange {
  color: #f5f0ed;
}
.violet-bg{
    background:violet;
}

.light-blue-bg {
  background: #c6d0f5;
}

.light-yellow-bg {
  background: #f7dfa1;
}

.light-grey-bg {
  background: #ededed;
}

.divider{

    border-right-width:10px;

}

.active {
  background: #aabafa;
  color:aquamarine;
}

.text-center{
    text-align:center;
}

.min-height-93{
    min-height:93vh !important;
}

.min-width-100{
    min-width:20%;
    max-width:100%;
    width:100px;
    
}

.min-width-150{
    min-width:50%;
    width:150px;
    max-width:100%;
}

.min-width-200 {
  min-width: 50%;
  max-width: 100%;
  width: 200px;
}

.min-width-250 {
  min-width: 50%;
  max-width: 100%;
  width: 250px;
}

.min-width-300{

    min-width:50%;
    max-width:100%;
    width:300px;

}

.form-width-500{
    min-width:25%;
    max-width:100%;
    width:600px;
}

.text-style{

    font-size:24px;
    color:whitesmoke;
}

/*.mat-form-field {
    width:100px;
}
*/
.mat-card {
  background: #f5f0ed;
}
.mat-card:hover {
  background: #d9f7fa;
  cursor: pointer;
}


.navtabs{
    margin:2rem;
}

.baskettoolbar{
   
   z-index:100;
   text-align:center;
   justify-content:center;
}

.fixed-bot{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
   
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 2;
  position: -webkit-sticky;
}

.sticky-bot {
  position: sticky;
  bottom: 0;
  z-index: 2;
  position: -webkit-sticky;
}

.sticky-top-50{

    position:sticky;
    top:50px;
}

.large-icon{
    transform:scale(1.5);
    
}
  .large-icon:hover {
    background: #aabafa;
  }

/*.buyslist {
 display:flex;
 justify-content:space-evenly;
 margin:2rem;
}
*/
.down-toolbar-list{
    margin-left:3rem;
}

.item{
    display:block;
    
  
    color:rebeccapurple;
}

.inline-style{
    display:inline-flex;
}

.between-style{
    justify-content:space-between;
}

.mg-5{
    margin:5rem;
}

.mg-3{
    margin:3rem;
}

.mg-2{
    margin:2rem;
}

.inline{
    display:inline-block;
}

.mg-side-1{

    margin-left:1rem;
    margin-right:1rem;
}

.mg-side-5{
   margin-left:5rem;
   margin-right:5rem;
}



.center-style{
    justify-content:center;
}

.mg-b-2{

    margin-bottom:2rem;

}

.mg-t-2{
    margin-top:2rem;
}

.hidden{
    display:none;
}

.p-side-2{
    padding-left:2rem;
    padding-right:2rem;
}

.width-200{

    width:var(--main-200);

}

.width-300{

    width:var(--main-300);
}

.width-350{

    width:var(--main-350);
}

.height-300{

    height:var(--main-300);

}

.height-350 {
  height: var(--main-350);
}

.height-400 {
  height: var(--main-400);
}

@media (max-width:599px) {

  .center-xs {
    align-items:center !important;
  }

} 

.mg-l-2{

    margin-left:2rem;

}

.mg-l-5 {
  margin-left: 5rem;
}


.flexBox {
  display: flex;
  flex-grow:4;
}
