<div>
  <div fxLayout="column">

    <mat-toolbar class="sticky-top" color="primary">
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <a routerLink="" mat-icon-button>
          <mat-icon>cable</mat-icon>
        </a>

        <span>Lovely Wires</span>

        <div class="menu" fxShow="false" fxShow.lt-sm="true">

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>

          <mat-menu #menu="matMenu">

            <button routerLink="" mat-menu-item>
              <mat-icon>shop</mat-icon>
              <span>Main</span>
            </button>
            <button routerLink="/creating" mat-menu-item>
              <mat-icon>settings input component</mat-icon>
              <span>Create Wire</span>
            </button>
            <button routerLink="/authorize" mat-menu-item>
              <mat-icon>how_to_reg</mat-icon>
              <span>Make Account</span>
            </button>

          </mat-menu>
        </div>


        <div class="navtabs" fxShow="true" fxHide.lt-sm="true">
          <a mat-button routerLink="" checkpage routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Main</a>
          <a mat-button routerLink="/creating" checkpage routerLinkActive="active">Create Wire </a>
          <a mat-button routerLink="/authorize" checkpage routerLinkActive="active">Make Account</a>
        </div>



      </div>

      <div class="width-100-procent"  fxLauout="column">
        <div fxLayout="row-reverse">
          <button [matMenuTriggerFor]="accmenu" mat-mini-fab><mat-icon>person_pic_circle</mat-icon></button>
          <mat-menu #accmenu="matMenu">
            <button mat-menu-item>Manage Acc</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>

        </div>
      </div>


    </mat-toolbar>
    <router-outlet></router-outlet>

    <div [class.fixed-bot]="body.clientHeight==body.scrollHeight" #dtb [class.sticky-bot]="body.clientHeight!=body.scrollHeight">
      <mat-toolbar color="accent" id="dtb" class="baskettoolbar mg-t-2">

        <div>

          <button mat-button color="primary" class="large-icon" routerLink="/cart"  routerLinkActive="active">
            <mat-icon color="warn">shopping_cart</mat-icon>
            Cart
          </button>

        </div>

        <div class="down-toolbar-list">
          <span class="item">Count:{{count}}</span>
          <span class="item">Cost:{{cost | currency}}</span>
        </div>

      </mat-toolbar>
    </div>
  </div>
</div>






