<div fxLayout="column">

  <mat-toolbar color="accent" class="text-center center-style mg-b-2">

    <span>Cart</span>

  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="space-evenly start" name="buys and client" class="revers-cart">

    <div name="buys"  fxLayout="column" class="mg-r-1">
      <div fxLayout="column" fxFlexAlign.lt-lg="end" fxFlexAlign.xs="start" class="mg-l-1-xs">
        <mat-checkbox color="warn"
                      [checked]="allset"
                      [indeterminate]="someSet()"
                      (change)="setAll($event.checked)">
          {{checks.name}}
        </mat-checkbox>
      </div>
      <div fxLayout="column">
        <ul style="list-style-type:none;padding-inline-start:10px">
          <li *ngFor="let newbuy of buysfororder;let i=index"  class="mg-b-2">
            <div fxLayout="row" fxLayout.xs="row-reverse" fxLayoutGap="5px"  >
              <div name="buy" fxLayout="column">
                <mat-card fxFlex.xs="calc(40%-16px)">
                  <mat-card-header>
                    <mat-card-title>{{newbuy.name}}</mat-card-title>
                    <mat-card-subtitle>Price: {{newbuy.cost | currency}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-sm-image [src]="newbuy.image.data" *ngIf="newbuy.image.data!=null;else newbuyimage" />
                  <ng-template #newbuyimage>
                    <img mat-card-sm-image src="../../../assets/--images/testpic.jpg" />
                  </ng-template>
                  <mat-card-content (click)="setBuy(newbuy,checks.subchecks[i])">
                    <p>First connector: <span [textContent]="parsingItem(newbuy.item,0)|slice:0:30"></span>...</p>
                    <p>Second connector: <span [textContent]="parsingItem(newbuy.item,1)|slice:0:30"></span>...</p>
                    <p>Wire's type: <span [textContent]="parsingItem(newbuy.item,2)"></span></p>
                    <p>Lenght:<span [textContent]="parsingItem(newbuy.item,3)"></span></p>
                    <p>count: {{newbuy.count}}</p>
                  </mat-card-content>
                  <mat-card-actions class="between-style">
                    <div class="inline-style">
                      <button mat-icon-button (click)="addOne(newbuy)">
                        <mat-icon color="accent">add</mat-icon>
                      </button>
                      <button mat-icon-button (click)="removeOne(newbuy)">
                        <mat-icon color="warn">remove</mat-icon>
                      </button>
                    </div>
                    <button mat-stroked-button color="primary" (click)="removeFromCart(newbuy)">remove from cart</button>
                  </mat-card-actions>
                </mat-card>

              </div>
              <div fxLayout.xs="column" fxLayout="row">
                <div name="sum">{{newbuy.count*newbuy.cost|currency}}</div>
                <div name="check" fxLayout="column">

                  <mat-checkbox [(ngModel)]="checks.subchecks[i].set"
                                (ngModelChange)="updateAll(newbuy,checks.subchecks[i].set)">

                  </mat-checkbox>

                </div>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div name="client" fxFlex.xs="40%" class="light-grey-bg p-side-2 sticky-top-50 round-corner">
      <form *ngIf="!isAuthorized" [formGroup]="loginForm">
        <div fxFlex>
          <div fxLayoutAlign.lt-xs="space-around">
            <mat-form-field fxFlex.xs="60%">
              <mat-label>Enter your login/email</mat-label>
              <input
                     matInput
                     type="text"
                     formControlName="emailOrLogin"
                     required/>
              <mat-error *ngIf="loginInfo.emailOrLogin?.hasError('required')
                              &&(loginInfo.emailOrLogin?.dirty||loginInfo.emailOrLogin?.touched)">
              Email or login is required
              </mat-error>
            </mat-form-field>

          </div>
          <div fxLayoutAlign.lt-xs="space-around" class="mg-b-1">
            <mat-form-field fxFlex.xs="60%">
              <mat-label>Enter your password</mat-label>
              <input matInput
                     [type]="(hide)?'password':'text'"
                     formControlName="password"
                     required/>
              <button mat-icon-button matSuffix (click)="hide=!hide">
                <mat-icon>{{(hide)?'visibility':'visibility_off'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginInfo.password?.hasError('required')
                         &&(loginInfo.password?.dirty||loginInfo.password?.touched)">
              Password is required
              </mat-error>
              <mat-hint><a class="link" href="#">forget your password?</a></mat-hint>
            </mat-form-field>

          </div>

        </div>
      </form>
      <div *ngIf="!isAuthorized" fxLayout="column" class="width-100-procent mg-b-1">
        <button mat-flat-button color="accent" [disabled]="loginForm.invalid" (click)="loginClient()">Login</button>
      </div>


      <div name="cost show">
        <div class="mat-title">Preliminery cost:{{cost | currency}}</div>
      </div>

      <div name="button" fxLayout="column" class="p-b-1 width-100-procent">
        <button mat-raised-button color="primary" [disabled]="!isAuthorized" (click)="makeOrder()">Make order</button>
      </div>

    </div>
  </div>

  <!--<div fxLayout="column">


  </div>-->
</div>








